<div class="row g-2">
    <div class="mb-3 fw-bold">
        <label for="nombre">Nombre de la base de datos:</label>
        <input type="text" class="form-control" required id="nombre" name="nombre">
    </div>

    <div class=" mb-3 fw-bold">
        <label for="usuario">Nombre de usuario:</label>
        <input type="text" class="form-control " required id="usuario" name="usuario">
    </div>

    <div class="mb-3 fw-bold">
        <label for="password">contraseña:</label>
        <input type="password" class="form-control " required id="password" name="password">
    </div>

    <div class="mb-3 fw-bold">
        <label for="servidor">Selvidor de la base de datos:</label>
        <input type="text" class="form-control " required id="servidor" name="servidor">
    </div>
</div>
<a href="{{url_for('index') }}">instalar</a>