{% extends 'layouts/base.html' %} {% block titulo %} Editar Producto {% endblock %} {% block contenido %}
<h1 class="text-center">
    EDITAR PRODUCTO
</h1>
<form method="POST">
    <div class="mb-3 fw-bold">
        <label for="nombre">Nombre</label>
        <input type="text" class="form-control" required id="nombre" name="nombre">
    </div>

    <div class=" mb-3 fw-bold ">
        <label for="descripcion ">Descripcion</label>
        <textarea type="text" class="form-control " required id="descripcion" name="descripcion"></textarea>
    </div>

    <div class="mb-3 fw-bold ">
        <label for="precio_compra ">Precio_compra</label>
        <input type="number" class="form-control " required id="precio_compra" name="precio_compra">
    </div>

    <div class="mb-3 fw-bold ">
        <label for="precio_venta ">Precio_venta</label>
        <input type="number" class="form-control " required id="precio_venta" name="precio_venta">
    </div>

    <div class="mb-3 fw-bold ">
        <label for="ganancia ">Ganancia %</label>
        <input type="number" class="form-control" required id="ganancia" name="ganancia">
    </div>

    <div class="mb-3 fw-bold ">
        <label for="estado ">Estado:</label>
        <select class="form-select " required name="estado" id="estado">
                <option required value=" ">Seleccione una opcion</option>
                <option value="Activo">Activo</option>
                <option value="Inactivo">Inactivo</option>
            </select>
    </div>

    <center>
        <button class="btn btn-outline-dark" type="submit">Guardar </button>
        <a class="btn btn-outline-dark" role="button" href="{{url_for( 'productos') }} ">volver</a>
    </center>

</form>


<script>
    let inputPrecioCompra = document.querySelector('#precio_compra')
    let inputPrecioVenta = document.querySelector('#precio_venta')
    let inputGanancia = document.querySelector('#ganancia')

    inputPrecioCompra.addEventListener('change', cambioPrecioCompra)

    function cambioPrecioCompra(e) {
        console.log('Cambiando precio compra')
    }

    inputPrecioVenta.addEventListener('change', cambioPrecioVenta)

    function cambioPrecioVenta(e) {
        //cambiar precio de venta 
        //cganancia = (precio_venta-precio_compra)/100 
        let precio_venta = parseInt(inputPrecioVenta.value)
        let precio_compra = parseInt(inputPrecioCompra.value)
        let ganancia = ((precio_venta - precio_compra) / precio_compra) * 100
        inputGanancia.value = ganancia
    }

    inputGanancia.addEventListener('change', cambioGanancia)

    function cambioGanancia(e) {
        let precio_compra = parseInt(inputPrecioCompra.value)
        let ganancia = parseInt(inputGanancia.value)
        let precio_venta = (precio_compra * (ganancia / 100)) + precio_compra
        inputPrecioVenta.value = precio_venta
    }
</script>

{% endblock %}